.about {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  color: rgba(134, 130, 130, 0.938);
  width: 100%;
  line-height: 1.5rem;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}
a {
  color: rgba(134, 130, 130, 0.938);
  text-decoration: none;
}
.about_div {
  width: 100%;
  height: 100%;
}
.about .select {
  color: rgba(197, 194, 194, 0.781);
  position: absolute;
  cursor: pointer;
  right: 200px;
  padding: 4px;
}
.about_main {
  display: flex;
  width: 100%;
  padding-top: 60px;
  height: 420px;
  background-color: rgba(255, 255, 255, 0.671);
  box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.08);
  margin-top: 60px;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
}
.about_main_img {
  width: 320px;
  height: 320px;
  position: relative;
  top: -130px;
  box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.08);
}
.about_main .about_main_p {
  font-style: italic;
  font-size: 1.3rem;
  text-align: end;
  top: 20px;
  width: 450px;
  flex-shrink: 1;
  margin: 0 10px;
}
.about_data_1 {
  height: 500px;
  width: 100%;
  height:100%;
  display: flex;
  justify-content: center;
  box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 3px 3px rgba(0, 0, 0, 0.08);
}
.about_data_1_bg {
  width:750px;
  background-image: url("../img/background1.png");
  background-size: 650px;
  background-position-x: 80%;
  background-position-y: 0%;
  background-repeat: no-repeat;
  background-attachment: fixed;

}
.about_data_2 {
  height: 100%;
  width: 100%;
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 3px 3px rgba(0, 0, 0, 0.08);
}
.about_data_2_bg {
  width: 650px;
  background-image: url("../img/background2.png");
  background-repeat: no-repeat;
  background-size: 550px;
  background-attachment: fixed;
  background-position-y: 0%;
}
@media screen and (max-width: 700px) {
  .about_main {
    flex-wrap: wrap;
    height: 690px;
    padding-top: 20px;
  }
  .about_main_img {
    top: 0px;
  }
  .about_main_p {
    padding-right: 10px;
  }
}
.about_data_1_1 {
  background-color: rgba(255, 255, 255, 0.753);
  box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 3px 3px rgba(0, 0, 0, 0.08);
  border-radius: 30px;
  border: 10px solid rgba(112, 112, 112, 0.144);
  padding: 30px;
  margin: 80px 100px;
  height: 200px;
  display: grid;
  grid-template-columns: 1.1fr 2.5fr;
  width: 380px;
}
.about_data_1_1 span {
  font-weight: 600;
}
.about_data_2_1 {
  display: flex;
  flex-direction: column;
  margin: 100px 150px;
  width: 350px;
  align-self: flex-end;
}
.myCV {
  align-self: center;
  margin: 20px;
  padding: 10px;
  background-color: rgba(255, 255, 255, 0.753);
  box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 3px 3px rgba(0, 0, 0, 0.08);
  border-radius: 30px;
  border: 5px solid rgba(112, 112, 112, 0.144);
}
.myCV:hover {
  cursor: pointer;
}
.myCV:active {
  transform: scale(0.97);
}
.hover {
  display: grid;
  grid-template-columns: 1fr 5fr;
  margin: 10px 0;
}
.dataIcon {
  grid-row: 1/2;
}
.name {
  grid-row: 2/3;
}
.datas {
  grid-column: 2/3;
  grid-row: 1/3;
}
.hover:hover,
a:hover,
.about_data_2_text:hover {
  color: rgba(90, 102, 168, 0.781);
}
.dataIcon {
  width: 80px;
  text-align: center;
  align-self: flex-end;
}
.datas {
  align-self: center;
  width: 250px;
  padding-left: 20px;
  margin-left: 10px;
  border-left: 0.5px solid rgba(155, 155, 155, 0.781);
}
span.ctc {
  font-size: 0.7rem;
}
span.name {
  font-size: 0.7rem;
  text-align: center;
}
span.project {
  font-weight: bold;
}
