.about {
  display: flex;
  justify-content: center;
  height: 100%;
  color: rgba(153, 146, 146, 0.938);
  width: 100%;
}
a {
  color: rgba(153, 146, 146, 0.938);
  text-decoration: none;
}
.about_div {
  width: 100%;
  height: 100%;
}
.about .select {
  color: rgba(197, 194, 194, 0.781);
  position: absolute;
  cursor: pointer;
  right: 200px;
  padding:4px;
}
.about_main {
  display: flex;
  width: 100%;
  padding-top:60px;
  height:420px;
  background-color: rgba(255, 255, 255, 0.671);
  box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.08);
  margin: 60px 0;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.about_main_img {
  width: 320px;
  height: 320px;
  position: relative;
  top: -130px;
  box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.08);
}
@media screen and (max-width : 980px){
  .about_main{
  height:690px;
  padding-top:20px;
  }
  .about_main_img{
  top: 0px;
  }
}
.about_main .about_main_p {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  font-style: italic;
  font-size: 1.3rem;
  text-align: end;
  top: 20px;
  width: 450px;
  flex-shrink: 1;
}
.about_data {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  background-image : url('../img/background2.png');
  background-position-x: 30%;
  background-position-y: 55%;
  background-repeat: no-repeat;
  background-size: 500px;

}
.about_data1,
.about_data2 {
  background-color: rgba(255, 255, 255, 0.753);
  margin: 20px;
  box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.08);
  line-height: 1.5rem;
  padding: 30px;
  border-radius: 30px;
  border: 10px solid rgba(112, 112, 112, 0.144);
}
.about_data1 {
  display: grid;
  grid-template-columns: 1.1fr 2.5fr;
  margin-top: 40px;
  width: 380px;
}
.about_data1 span {
  font-weight: 600;
}
.about_data2 {
  display: flex;
  flex-direction: column;
  margin-top: 50px;
  width: 350px;
}

.hover {
  display:grid;
  grid-template-columns: 1fr 5fr;
  margin:10px 0;
}
.dataIcon{
  grid-row: 1/2;
}
.name{
  grid-row: 2/3;
}
.datas{
  grid-column: 2/3;
  grid-row: 1/3;
}
.hover:hover,
a:hover {
  color: rgba(90, 102, 168, 0.781);
}
.dataIcon {
  width: 80px;
  text-align: center;
  align-self: flex-end;
}
.datas {
  align-self: center;
  width: 250px;
  padding-left: 20px;
  margin-left: 10px;
  border-left: 0.5px solid rgba(155, 155, 155, 0.781);
}
span.ctc{
    font-size:.7rem;
}
span.where,
span.location,
span.date,
span.major,
span.minor{
    font-size: smaller;
}
li.job2{
    margin-top:5px;
}
span.tab {white-space: pre;}
span.name{
  font-size: .7rem;
  text-align: center;
}
span.project{
  font-weight: bold;
}